body{
    font-family: Montserrat;
    text-align: center;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Montserrat-bold";
}

p{
    color:#8f8f8f;
}

          /* Headings */
.big-heading{
    font-family:"Montserrat-Black";
    font-size: 3.5rem;
    line-height: 1.5;
}
.section-heading{
    font-size:3rem;
    line-height:1.5;
}
           /* Containers */

.container-fluid{
    padding:7% 15%;
}
       /* Sections */

.colored-section{
    background-color: #ff4c68;
    color:#fff;
}
.white-section{
    background-color: #fff;
}

          /* Navigation bar */
.navbar{
    padding-bottom:4.5rem;
}
.navbar-brand{
    font-family:Ubuntu;
    font-weight:bold;
    font-size:2.5rem;
}
.nav-item{
    padding:0 18px;
}
.nav-link{
    font-size:1.2rem;
    font-family:Montserrat-Light;
}

.Download-button{
    margin: 5% 3% 5% 0;
}

        /* Title section */

#title .container-fluid{
    padding:3% 15% 7%;
    text-align:left;
}

  /* Title Image */

.title-image{
    width:60%;
    transform:rotate(25deg);
    position:absolute;
    right:30%;
}
.image-box{
    position:relative;
}
         /* Features */
.feature-box{
    padding:5%;
}
#features{
    position:relative;
    z-index: 1;
}
.feature-title{
    font-size: 1.5rem;
}

.icon{
    color:#ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color:#ff4c68

}

   /* Testimonial-section */
#testimonials{
    background-color: #ef8172;
}
.testimonial-text{
    font-size:3rem;
    line-height: 1.5;
}
.carousel-item{
    padding:7% 15%;
}
.testimonial-image{
    width:13%;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    margin: 20px;
}
#press{
    background-color: #ef8172;
}
.press-logo{
    width:13%;
    margin:20px 20px 50px;
}

           /* Pricing Section */

#pricing{
    margin:100px;
}
.pricing-column{
    padding:3% 2%;
}
.price-text{
    font-size: 3rem;
    line-height: 1.5;

}
          /* Call to action Section */

     /* Footer Section */

.social-icon{
   margin:20px 10px;
}

@media (max-width:1028px){
    #title{
        text-align:center;
    }
    .title-image{
      position:static;
      transform:rotate(0)    ;
      -webkit-transform:rotate(0)    ;
      -moz-transform:rotate(0)    ;
      -ms-transform:rotate(0)    ;
      -o-transform:rotate(0)    ;
    }
}

